<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IShowTrackerLoginService" />
        <binding name="BasicHttpBinding_IShowTrackerLoginService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49273/ShowTrackerLoginService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShowTrackerLoginService"
        contract="LoginServiceReference.IShowTrackerLoginService" name="BasicHttpBinding_IShowTrackerLoginService" />
      <endpoint address="http://localhost:1539/ShowTrackerLoginService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShowTrackerLoginService1"
        contract="LoginServiceReference1.IShowTrackerLoginService" name="BasicHttpBinding_IShowTrackerLoginService1" />
    </client>
  </system.serviceModel>
</configuration>